<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  <style>
   div.section {
     margin-top: 0.75rem;
   }
   div.subsection {
     margin-top: 0.3rem;
   }
   span.sect_label {
     font-size: larger;
     font-weight: bold;
   }
   .sel_strategy {
     width: 10rem;
   }
   .tbl_params {
     margin-top: 0.75rem;
   }
   .tbl_results {
     margin-top: 0.25rem;
     border-collapse: collapse;
   }
   .tbl_results th {
     border: 1px solid lightgrey;
   }
   .tbl_results td {
     border: 1px solid lightgrey;
   }
   .col_lbl {
     width: 10rem;
   }
   .col_lbl_short {
     width: 5rem;
   }
   .col_num {
     width: 4.5rem;
   }
   .col_txt {
     width: 6rem;
   }
   .col_txt_short {
     width: 3rem;
   }
   .col_txt_long {
     width: 12rem;
   }
   .col_spc {
     width: 2rem;
   }
   .td_lbl {
     text-align: right;
   }
   .td_num,
   .td_dec,
   .td_txt,
   .td_hand {
     text-align: center;
   }
   table.pos_layout td {
     text-align: center;
     font-size: smaller;
   }
   input[type="number"] {
     width: 3rem;
     text-align: center;
   }
   input.txt_gen {
     width: 3rem;
     text-align: center;
   }
   input.txt_card {
     display: none;
   }
   .spn_card {
     width: 3rem;
     margin-left: 0.5rem;
   }
   .spn_bid {
     color: blue;
     font-weight: bolder;
   }
   button[value="evaluate"],
   button[value="new_hand"] {
     font-weight: bolder;
   }
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
  </style>
</head>

<body>
  <form method="post">
    <div class="section">
      <span>Pick strategy:</span>
      <select name="strategy" class="sel_strategy">
        {% if strategy %}
        {% for strat in strategies %}
        <option value="{{strat}}"{{" selected" if strat == strategy else ""}}>{{strat}}</option>
        {% endfor %}
        {% else %}
        <option value="" disabled selected></option>
        {% for strat in strategies %}
        <option value="{{strat}}">{{strat}}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
    <div class="section">
      <span class="sect_label">Hand Analysis</span>
      <table class="tbl_params">
        <colgroup>
          <col class="col_lbl">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_spc">
          <col class="col_num">
        </colgroup>
        <tr>
          <th></th>
          <th>9</th>
          <th>10</th>
          <th>J</th>
          <th>Q</th>
          <th>K</th>
          <th>A</th>
          <th>L</th>
          <th>R</th>
          <th></th>
          <th>Coeff</th>
        </tr>
        <tr>
          <td class="td_lbl">Trump values:</td>
          {% if anly %}
          {% for val in anly.trump_values %}
          <td class="td_num"><input name="tv_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="tv_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_0" type="number" value="{{coeff[0]}}"></td>
        </tr>
        <tr>
          <td class="td_lbl">Suit values:</td>
          {% if anly %}
          {% for val in anly.suit_values %}
          <td class="td_num"><input name="sv_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(6) %}
          <td class="td_num"><input name="sv_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_1" type="number" value="{{coeff[1]}}"></td>
        </tr>
      </table>
      <table class="tbl_params">
        <colgroup>
          <col class="col_lbl">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_spc">
          <col class="col_num">
        </colgroup>
        <tr>
          <th></th>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td class="td_lbl">Num trump scores:</td>
          {% if anly %}
          {% for val in anly.num_trump_scores %}
          <td class="td_dec"><input name="nts_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(6) %}
          <td class="td_dec"><input name="nts_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_2" type="number" value="{{coeff[2]}}"></td>
        </tr>
        <tr>
          <td class="td_lbl">Num off-aces scores:</td>
          {% if anly %}
          {% for val in anly.off_aces_scores %}
          <td class="td_dec"><input name="nas_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(4) %}
          <td class="td_dec"><input name="nas_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_3" type="number" value="{{coeff[3]}}"></td>
        </tr>
        <tr>
          <td class="td_lbl">Num voids scores:</td>
          {% if anly %}
          {% for val in anly.voids_scores %}
          <td class="td_dec"><input name="nvs_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(4) %}
          <td class="td_dec"><input name="nvs_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_4" type="number" value="{{coeff[4]}}"></td>
        </tr>
      </table>
    </div>
    <div class="section">
      <span class="sect_label">Strategy</span>
      <table class="tbl_params">
        <colgroup>
          <col class="col_lbl">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
        </colgroup>
        <tr>
          <th class="td_lbl">(bid_pos)</th>
          <th>0</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
        </tr>
        <tr>
          <td class="td_lbl">Turn card value:</td>
          {% if strg %}
          {% for val in strg.turn_card_value %}
          <td class="td_num"><input name="tcv_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="tcv_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
        <tr>
          <td class="td_lbl">Turn card coeff:</td>
          {% if strg %}
          {% for val in strg.turn_card_coeff %}
          <td class="td_num"><input name="tcc_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(4) %}
          <td class="td_num"><input name="tcc_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_num"></td>
          <td class="td_num"></td>
          <td class="td_num"></td>
          <td class="td_num"></td>
        </tr>
        <tr>
          <td class="td_lbl">Bid thresh:</td>
          {% if strg %}
          {% for val in strg.bid_thresh %}
          <td class="td_num"><input name="bt_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="bt_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
        <tr>
          <td class="td_lbl">Alone margin:</td>
          {% if strg %}
          {% for val in strg.alone_margin %}
          <td class="td_num"><input name="am_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="am_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
        <tr>
          <td class="td_lbl">Def alone thresh:</td>
          {% if strg %}
          {% for val in strg.def_alone_thresh %}
          <td class="td_num"><input name="dat_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(11) %}
          <td class="td_num"><input name="dat_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
      </table>
    </div>
    <div class="section">
      <span class="sect_label">Deal Info</span>

      <div class="subsection">
        <span>Position:</span>
        <table class="pos_layout">
          <tr>
            <td></td>
            <td><input type="radio" name="player_pos" value="1"{{" checked" if player_pos == 1 else ""}}></td>
            <td></td>
          </tr>
          <tr>
            <td><input type="radio" name="player_pos" value="0"{{" checked" if player_pos == 0 else ""}}></td>
            <td></td>
            <td><input type="radio" name="player_pos" value="2"{{" checked" if player_pos == 2 else ""}}></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="radio" name="player_pos" value="3"{{" checked" if player_pos == 3 else ""}}></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>(dealer)</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="subsection">
        <span>Hand:</span>
        {% for card in hand %}
        <input type="text" name="hand_{{loop.index0}}" class="txt_card" value="{{card.idx}}" readonly>
        <span class="spn_card">{{card.tag}}</span>
        {% endfor %}
      </div>
      <div class="subsection">
        <span>Turn card:</span>
        <input type="text" name="turn_card" class="txt_card" value="{{turn.idx}}" readonly>
        <span class="spn_card">{{turn.tag}}</span>
      </div>
      <div class="subsection">
        <button class="submit" value="revert_params" title="{{help_txt['bt_0']}}">Revert Params</button>
        <button class="submit" value="export_params" title="{{help_txt['bt_1']}}">Export Params</button>
        <button class="submit" value="evaluate" title="{{help_txt['bt_2']}}">Evaluate Hand</button>
        <button class="submit" value="new_hand" title="{{help_txt['bt_3']}}">Get New Hand</button>
      </div>
    </div>
  </form>
  {% if bidding %}
  <div class="section">
    <span class="sect_label">Results</span>
    <div class="subsection">
      <span>Position: {{player_pos + 1}}</span>
    </div>
    <div class="subsection">
      <table class="tbl_results">
        <colgroup>
          <col class="col_num">
          <col class="col_num">
          <col class="col_txt">
          <col class="col_txt_long">
          <col class="col_num">
          <col class="col_num">
          <col class="col_txt">
          <col class="col_num">
          <col class="col_num">
          <col class="col_txt">
        </colgroup>
        <tr>
          <th colspan="2"></th>
          <th colspan="2"></th>
          <th colspan="3">Current Params</th>
          <th colspan="3">Baseline Params</th>
        </tr>
        <tr>
          <th title="{{help_txt['bd_0']}}">Round</th>
          <th title="{{help_txt['bd_1']}}">(bid_pos)</th>
          <th title="{{help_txt['bd_2']}}">Discard</th>
          <th title="{{help_txt['bd_3']}}">New Hand</th>
          <th title="{{help_txt['bd_4']}}">Strength</th>
          <th title="{{help_txt['bd_5']}}">Margin</th>
          <th title="{{help_txt['bd_6']}}">Bid</th>
          <th title="{{help_txt['bd_4']}}">Strength</th>
          <th title="{{help_txt['bd_5']}}">Margin</th>
          <th title="{{help_txt['bd_6']}}">Bid</th>
        </tr>
        {% for bid in bidding %}
        {% set base_bid = base_bidding[loop.index0] %}
        <tr>
          <td class="td_num">{{bid.round + 1}}</td>
          <td class="td_num">{{bid.bid_pos}}</td>
          <td class="td_txt">
            {% if bid.discard %}
            <span>{{bid.discard.tag}}</span>
            {% endif %}
          </td>
          <td class="td_hand">
            {% if bid.new_hand %}
            {% for idx in range(5) %}
            <span class="spn_card">{{bid.new_hand[idx].tag}}</span>
            {% endfor %}
            {% endif %}
          </td>
          <td class="td_num" title="{{bid.details}}">{{bid.strength}}</td>
          <td class="td_num">{{bid.margin}}</td>
          <td class="td_txt">
            {% if bid.bid.suit.idx < 0 %}
            <span class="spn_pass">pass</span> <span>{{bid.eval_suit.disp}}</span>
            {% else %}
            <span class="spn_bid">{{"alone" if bid.bid.alone else "call"}}</span>
            <span> </span><span>{{bid.bid.suit.disp}}</span>
            {% endif %}
          </td>
          <td class="td_num" title="{{base_bid.details}}">{{base_bid.strength}}</td>
          <td class="td_num">{{base_bid.margin}}</td>
          <td class="td_txt">
            {% if base_bid.bid.suit.idx < 0 %}
            <span class="spn_pass">pass</span> <span>{{base_bid.eval_suit.disp}}</span>
            {% else %}
            <span class="spn_bid">{{"alone" if base_bid.bid.alone else "call"}}</span>
            <span> </span><span>{{base_bid.bid.suit.disp}}</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  <script src="/static/jquery-3.7.1.min.js"></script>
  <script>
   $("span:contains('\u2665')").css('color', 'red')
   $("span:contains('\u2666')").css('color', 'red')
   $("th:empty").css('border', 'none');
   $("th:contains('(bid_pos)')").css('font-weight', 'normal')
   $("td.td_dec input").attr('step', "0.01");
   $("button.submit").attr({
     type: 'submit',
     name: "submit_func"
   })

   $(".sel_strategy").on('change', function() {
     var value = $(this).val();
     var curpage = window.location.origin + window.location.pathname;
     window.location.href = curpage + "?strategy=" + encodeURIComponent(value);
   });
   $(".pos_layout input").on('change', function() {
     $("button[value='evaluate']").click();
   });
   $("button[value!='export_params']").on('click', function () {
     $("form").attr('target', '_self');
   });
   $("button[value='export_params']").on('click', function () {
     $("form").attr('target', '_blank');
   });
  </script>
</body>

</html>
