<!DOCTYPE html>
<html>

<head>
  {% set show_discard = discard and player_pos == 3 %}
  <title>{{title}}</title>

  <style>
   .section {
     margin-top: 0.7rem;
     overflow: hidden;
   }
   .section_lbl {
     font-size: larger;
     font-weight: bold;
   }
   .subsect {
     margin-top: 0.2rem;
     overflow: hidden;
   }
   .sel_strategy {
     width: 10rem;
   }
   .bid_play {
     margin-left: 1.0rem;
   }
   .bid_play label {
     margin-left: 0.5rem;
   }
   .bidding {
     display: {{"block;" if phase_chk[0] else "none;"}}
   }
   .playing {
     display: {{"block;" if phase_chk[1] else "none;"}}
   }
   .tbl_params {
     margin-top: 0.3rem;
   }
   .tbl_results {
     margin-top: 0.25rem;
     border-collapse: collapse;
   }
   .tbl_results th,
   .tbl_results td {
     border: 1px solid lightgrey;
   }
   .col_lbl {
     width: 10rem;
   }
   .col_num {
     width: 4.5rem;
   }
   .col_txt {
     width: 6rem;
   }
   .col_txt_long {
     width: 12rem;
   }
   .col_spc {
     width: 2rem;
   }
   .td_lbl {
     text-align: right;
   }
   .td_num,
   .td_dec,
   .td_txt,
   .td_hand {
     text-align: center;
   }
   .deal pre {
     /*float: left;*/
   }
   .pos_lbl {
     float: left;
   }
   .pos_layout {
     float: left;
   }
   .pos_layout td {
     text-align: center;
   }
   .pos_layout .pos {
     font-size: smaller;
   }
   .deal_info {
     margin-top: {{"0.8rem;" if show_discard else "2.0rem;"}}
     width: 23rem;
     float: left;
   }
   input[type="number"] {
     width: 3rem;
     text-align: center;
   }
   .inp_card {
     display: none;
     width: 1.5rem;
   }
   .container {
     position: relative;
   }
   .spn_hand {
     margin-right: 0.5rem;
   }
   .spn_card {
     margin-left: 0.5rem;
     word-spacing: -0.15rem;
   }
   .spn_suit {
     margin-left: 0.2rem;
   }
   .spn_bid {
     color: blue;
     font-weight: bolder;
   }
   .sel_card {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-color: #F0F0F0;
     border: dotted red 1px;
     text-align: center;
     position: absolute;
     top: 0.05rem;
     left: 0.40rem;
     height: 1.1rem;
     width: 2.0rem;
     display: none;
   }
   .ruleset {
     float: left;
   }
   .ruleset ul {
     margin-top: 0.1rem;
     padding: 0;
     list-style-type: none;
     width: 15rem;
   }
   .ruleset li,
   .ruleset span {
     margin-top: 0.2rem;
     background-color: #F0F0F0;
     width: 13rem;
   }
   .ruleset span {
     display: inline-block;
   }
   .bids {
     float: left;
   }
   .bids_lbl {
     display: inline-block;
     float: left;
     width: 4rem;
   }
   .bids table {
     float: left;
     border-collapse: collapse;
   }
   .bids_pos {
     width: 5.5rem;
   }
   .sel_trick {
     display: block;
   }
   .sel_trick label {
     margin-left: 0.7rem;
   }
   .tricks div {
     display: none;
   }
   {% for idx in range(5) %}
   #trick_{{idx}} {
     display: {{"block;" if trick_chk[idx] else "none;"}}
   }
   {% endfor %}
   button[value="evaluate"],
   button[value="new_hand"] {
     font-weight: bolder;
   }
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   .refs {
     margin-top: 1.2rem;
     font-size: smaller;
   }
   .refs ul {
     margin-top: 0.1rem;
     padding: 0;
     list-style-type: none;
   }
  </style>
</head>

<body>
  <form method="post">
    <div class="section header">
      Pick strategy:
      <select name="strategy" class="sel_strategy">
        {% if strategy %}
        {% for strat in strategies %}
        <option value="{{strat}}"{{" selected" if strat == strategy else ""}}>{{strat}}</option>
        {% endfor %}
        {% else %}
        <option value="" disabled selected></option>
        {% for strat in strategies %}
        <option value="{{strat}}">{{strat}}</option>
        {% endfor %}
        {% endif %}
      </select>
      <span class="bid_play">
        <label>Bidding:<input type="radio" name="phase" value="0"{{phase_chk[0]}}></label>
        <label>Playing:<input type="radio" name="phase" value="1"{{phase_chk[1]}}></label>
      </span>
    </div>
    <div class="section playing">
      <span class="section_lbl">Playing Rulesets</span>
      <div class="subsect">
        {% for name, rules in rulesets.items() %}
        <div class="ruleset">
          <b>{{name}}</b>
          <ul>
            {% for rule in rules %}
            {% if rule %}
            <li title="{{rule.__doc__}}">{{rule.__name__}}</li>
            {% else %}
            <span>&nbsp;</span>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="section bidding">
      <span class="section_lbl">Hand Analysis Params</span>
      <table class="tbl_params">
        <colgroup>
          <col class="col_lbl">
          {% for _ in ranks %}
          <col class="col_num">
          {% endfor %}
          <col class="col_spc">
          <col class="col_num">
        </colgroup>
        <tr>
          <th></th>
          {% for rank in ranks %}
          <th>{{rank}}</th>
          {% endfor %}
          <th></th>
          <th>Coeff</th>
        </tr>
        <tr>
          <td class="td_lbl">Trump values:</td>
          {% if anly %}
          {% for val in anly.trump_values %}
          <td class="td_num"><input name="tv_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="tv_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_0" type="number" value="{{coeff[0]}}"></td>
        </tr>
        <tr>
          <td class="td_lbl">Suit values:</td>
          {% if anly %}
          {% for val in anly.suit_values %}
          <td class="td_num"><input name="sv_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(6) %}
          <td class="td_num"><input name="sv_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_1" type="number" value="{{coeff[1]}}"></td>
        </tr>
      </table>
      <table class="tbl_params">
        <colgroup>
          <col class="col_lbl">
          {% for _ in range(6) %}
          <col class="col_num">
          {% endfor %}
          <col class="col_num">
          <col class="col_num">
          <col class="col_spc">
          <col class="col_num">
        </colgroup>
        <tr>
          <th></th>
          {% for idx in range(6) %}
          <th>{{idx}}</th>
          {% endfor %}
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td class="td_lbl">Num trump scores:</td>
          {% if anly %}
          {% for val in anly.num_trump_scores %}
          <td class="td_dec"><input name="nts_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(6) %}
          <td class="td_dec"><input name="nts_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_2" type="number" value="{{coeff[2]}}"></td>
        </tr>
        <tr>
          <td class="td_lbl">Num off-aces scores:</td>
          {% if anly %}
          {% for val in anly.off_aces_scores %}
          <td class="td_dec"><input name="nas_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(4) %}
          <td class="td_dec"><input name="nas_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_3" type="number" value="{{coeff[3]}}"></td>
        </tr>
        <tr>
          <td class="td_lbl">Num voids scores:</td>
          {% if anly %}
          {% for val in anly.voids_scores %}
          <td class="td_dec"><input name="nvs_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(4) %}
          <td class="td_dec"><input name="nvs_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_spc"></td>
          <td class="td_num"><input name="coeff_4" type="number" value="{{coeff[4]}}"></td>
        </tr>
      </table>
    </div>
    <div class="section bidding">
      <span class="section_lbl">Strategy Params</span>
      <table class="tbl_params">
        <colgroup>
          <col class="col_lbl">
          {% for _ in ranks %}
          <col class="col_num">
          {% endfor %}
        </colgroup>
        <tr>
          <th></th>
          {% for rank in ranks %}
          <th>{{rank}}</th>
          {% endfor %}
        </tr>
        <tr>
          <td class="td_lbl">Turn card value:</td>
          {% if strgy %}
          {% for val in strgy.turn_card_value %}
          <td class="td_num"><input name="tcv_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="tcv_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
      </table>
      <table class="tbl_params">
        <colgroup>
          <col class="col_lbl">
          {% for _ in range(8) %}
          <col class="col_num">
          {% endfor %}
          <col class="col_num">
          <col class="col_num">
          <col class="col_num">
        </colgroup>
        <tr>
          <th class="td_lbl">(bid_pos)</th>
          {% for idx in range(8) %}
          <th>{{idx}}</th>
          {% endfor %}
        </tr>
        <tr>
          <td class="td_lbl">Turn card coeff:</td>
          {% if strgy %}
          {% for val in strgy.turn_card_coeff %}
          <td class="td_num"><input name="tcc_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(4) %}
          <td class="td_num"><input name="tcc_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
        <tr>
          <td class="td_lbl">Bid thresh:</td>
          {% if strgy %}
          {% for val in strgy.bid_thresh %}
          <td class="td_num"><input name="bt_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="bt_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
        <tr>
          <td class="td_lbl">Alone margin:</td>
          {% if strgy %}
          {% for val in strgy.alone_margin %}
          <td class="td_num"><input name="am_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(8) %}
          <td class="td_num"><input name="am_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
        <tr>
          <td class="td_lbl">Def alone thresh:</td>
          {% if strgy %}
          {% for val in strgy.def_alone_thresh %}
          <td class="td_num"><input name="dat_{{loop.index0}}" type="number" value="{{val}}"></td>
          {% endfor %}
          {% else %}
          {% for idx in range(11) %}
          <td class="td_num"><input name="dat_{{idx}}" type="number"></td>
          {% endfor %}
          {% endif %}
        </tr>
      </table>
    </div>
    {% if strategy %}
    <div class="section">
      <span class="section_lbl">Deal Info</span>
      <div class="subsect">
        <span class="pos_lbl">Position:</span>
        <table class="pos_layout">
          <tr>
            <td></td>
            <td></td>
            <td class="pos">North</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><input type="radio" name="player_pos" value="1"{{pos_chk[1]}}></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="pos">West</td>
            <td><input type="radio" name="player_pos" value="0"{{pos_chk[0]}}></td>
            <td></td>
            <td><input type="radio" name="player_pos" value="2"{{pos_chk[2]}}></td>
            <td class="pos">East</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><input type="radio" name="player_pos" value="3"{{pos_chk[3]}}></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="pos">South<br/>(dealer)</td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <table class="deal_info">
          <colgroup>
            <col style="width: 7rem;">
            <col style="width: 15rem;">
          </colgroup>
          {% if phase_chk[0] %}
          <tr>
            <td class="td_lbl">Hand:</td>
            <td>
              {% if hand %}
              <span class="spn_hand">
                {% for mycard in hand %}
                <span class="container">
                  <input type="text" name="hand_{{loop.index0}}" class="inp_card" value="{{mycard.idx}}">
                  <span class="spn_card" title="Click to change...">{{mycard.disp}}</span>
                  <select name="hand_{{loop.index0}}" class="sel_card" title="Click to choose...">
                    {% for card in cards %}
                    <option value="{{card.idx}}"{{" selected" if card.idx == mycard.idx else ""}}>{{card.disp}}</option>
                    {% endfor %}
                  </select>
                </span>
                {% endfor %}
              </span>
              {% endif %}  {# hand #}
            </td>
          </tr>
          <tr>
            <td class="td_lbl">Turn card:</td>
            <td>
              {% if turn %}
              <span class="container">
                <input type="text" name="turn_card" class="inp_card" value="{{turn.idx}}">
                <span class="spn_card" title="Click to change...">{{turn.disp}}</span>
                <select name="turn_card" class="sel_card" title="Click to choose...">
                  {% for card in cards %}
                  <option value="{{card.idx}}"{{" selected" if card.idx == turn.idx else ""}}>{{card.disp}}</option>
                  {% endfor %}
                </select>
              </span>
              {% endif %}  {# turn #}
            </td>
          </tr>
          {% else %}  {# phase_chk[0] #}
          <tr>
            {% if show_discard %}
            <td class="td_lbl">Orig hand:</td>
            <td>
              <span class="spn_hand">
                {% for mycard in orig_hand %}
                <span class="spn_card">{{mycard.disp}}</span>
                {% endfor %}
              </span>
            </td>
            {% else %}
            <td class="td_lbl">Hand:</td>
            <td>
              {% if hand %}
              <span class="spn_hand">
                {% for mycard in hand %}
                <span class="spn_card">{{mycard.disp}}</span>
                {% endfor %}
              </span>
              {% endif %}  {# hand #}
            </td>
            {% endif %}  {# show_discard #}
          </tr>
          <tr>
            <td class="td_lbl">Turn card:</td>
            <td>
              {% if turn %}
              <span class="spn_card">{{turn.disp}}</span> {{turn_lbl}}
              {% endif %}  {# turn #}
            </td>
          </tr>
          {% endif %}  {# phase_chk[0] #}
          {% if show_discard %}
          <tr>
            <td class="td_lbl">Discard:</td>
            <td>
              <span class="spn_card">{{discard.disp}}</span>
            </td>
          </tr>
          <tr>
            <td class="td_lbl">New hand:</td>
            <td>
              <span class="spn_hand">
                {% for mycard in hand %}
                <span class="spn_card">{{mycard.disp}}</span>
                {% endfor %}
              </span>
            </td>
          </tr>
          {% endif %}  {# show_discard #}
        </table>
        {% if bid_seq %}
        <div class="bids playing">
          <span class="bids_lbl">Bidding:</span>
          <table>
            <colgroup>
              <col class="bids_pos">
              <col style="width: 6.0rem;">
              <col>
            </colgroup>
            {% for bid in bid_seq %}
            <tr>
              <td>{{bid[0]}}{{bid[2]}}:</td>
              <td>
                {% if bid[1].suit.idx == -1 %}
                <span class="spn_pass">pass</span>
                {% elif bid[1].suit.idx == -3 %}
                <span class="spn_bid">defend alone</span>
                {% else %}
                <span class="spn_bid">{{"alone" if bid[1].alone else "call"}}</span>
                <span class="spn_suit">{{bid[1].suit.disp}}</span>
                {% endif %}
              </td>
              <td>
                {% if (bid[1].suit.idx >= 0 or bid[1].suit.idx == -3) and bid[2] %}
                (strength: {{bid[3]}})
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
      </div>
      {% if deck %}
      {% for card in deck %}
      <input type="text" name="deck_{{loop.index0}}" class="inp_card" value="{{card.idx}}">
      {% endfor %}
      {% endif %}
    </div>
    <div class="section buttons">
      <button class="submit" value="revert_params" title="{{help_txt['bt_0']}}">Revert Params</button>
      <button class="submit" value="export_params" title="{{help_txt['bt_1']}}">Export Params</button>
      <button class="submit" value="evaluate" title="{{help_txt['bt_2']}}">Evaluate Hand</button>
      <button class="submit" value="new_hand" title="{{help_txt['bt_3']}}">Get New Hand</button>
    </div>
    {% if bidding %}
    <div class="section bidding">
      <span class="section_lbl">Bidding Analysis</span>
      <table class="tbl_results">
        <colgroup>
          <col class="col_num">
          <col class="col_num">
          <col class="col_txt">
          <col class="col_txt_long">
          <col class="col_num">
          <col class="col_num">
          <col class="col_txt">
          <col class="col_num">
          <col class="col_num">
          <col class="col_txt">
        </colgroup>
        <tr>
          <th colspan="2"></th>
          <th colspan="2"></th>
          <th colspan="3">Current Params</th>
          <th colspan="3">Baseline Params</th>
        </tr>
        <tr>
          <th title="{{help_txt['bd_0']}}">Round</th>
          <th title="{{help_txt['bd_1']}}">(bid_pos)</th>
          <th title="{{help_txt['bd_2']}}">Discard</th>
          <th title="{{help_txt['bd_3']}}">New Hand</th>
          <th title="{{help_txt['bd_4']}}">Strength</th>
          <th title="{{help_txt['bd_5']}}">Margin</th>
          <th title="{{help_txt['bd_6']}}">Bid</th>
          <th title="{{help_txt['bd_4']}}">Strength</th>
          <th title="{{help_txt['bd_5']}}">Margin</th>
          <th title="{{help_txt['bd_6']}}">Bid</th>
        </tr>
        {% for bid in bidding %}
        {% set base_bid = base_bidding[loop.index0] %}
        <tr>
          <td class="td_num">{{bid.round + 1}}</td>
          <td class="td_num">{{bid.bid_pos}}</td>
          <td class="td_txt">
            {% if bid.discard %}
            <span class="spn_card">{{bid.discard.disp}}</span>
            {% endif %}
          </td>
          <td class="td_hand">
            <span class="spn_hand">
              {% if bid.new_hand %}
              {% for idx in range(5) %}
              <span class="spn_card">{{bid.new_hand[idx].disp}}</span>
              {% endfor %}
              {% endif %}
            </span>
          </td>
          <td class="td_num" title="{{bid.details}}">{{bid.strength}}</td>
          <td class="td_num">{{bid.margin}}</td>
          <td class="td_txt">
            {% if bid.bid.suit.idx < 0 %}
            <span class="spn_pass">pass</span>
            <span class="spn_suit">{{bid.eval_suit.disp}}</span>
            {% else %}
            <span class="spn_bid">{{"alone" if bid.bid.alone else "call"}}</span>
            <span class="spn_suit">{{bid.bid.suit.disp}}</span>
            {% endif %}
          </td>
          <td class="td_num" title="{{base_bid.details}}">{{base_bid.strength}}</td>
          <td class="td_num">{{base_bid.margin}}</td>
          <td class="td_txt">
            {% if base_bid.bid.suit.idx < 0 %}
            <span class="spn_pass">pass</span>
            <span class="spn_suit">{{base_bid.eval_suit.disp}}</span>
            {% else %}
            <span class="spn_bid">{{"alone" if base_bid.bid.alone else "call"}}</span>
            <span class="spn_suit">{{base_bid.bid.suit.disp}}</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}  {# bidding #}
    {% if play_seq %}
    <div class="section playing">
      <span class="section_lbl">Playing Analysis</span>
      <div class ="subsect tricks">
        <span class="sel_trick">
          Trick:
          {% for idx in range(5) %}
          {% set checked = trick_chk[idx] %}
          <label>{{idx + 1}}<input type="radio" name="trick" value="{{idx}}"{{checked}}></label>
          {% endfor %}
        </span>
        {% for trick_seq in play_seq %}
        {% set play = pos_play[loop.index0] %}
        <div class="subsect" id="trick_{{loop.index0}}">
          <table class="pos_layout">
            <tr>
              <td></td>
              <td></td>
              <td class="pos">North</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><span class="spn_card">{{play[1][1]}}</span></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="pos">West</td>
              <td><span class="spn_card">{{play[0][1]}}</span></td>
              <td></td>
              <td><span class="spn_card">{{play[2][1]}}</span></td>
              <td class="pos">East</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><span class="spn_card">{{play[3][1]}}</span></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="pos">South<br/>(dealer)</td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <span style="display: block;">
            {% set my_hand = seq_hands[loop.index0] %}
            Your hand ({{player.name}}):
            {% for mycard in my_hand %}
            <span class="spn_card">{{mycard.disp}}</span>
            {% endfor %}
          </span>
          <span style="display: block;">
            Lead card ({{trick_seq[0][0]}}):
            <span class="spn_card">{{trick_seq[0][1]}}</span>
          </span>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}  {# play_seq #}
    {% endif %}  {# strategy #}
  </form>
  <div class="refs">
    Reference links:
    <ul>
      {% for name, link in ref_links.items() %}
      <li><a href="{{link}}" target='_blank'>{{name}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <script src="/static/jquery-3.7.1.min.js"></script>
  <script>
   $(function() {
     // add css and attributes
     $(".spn_card:contains('\u2665')").css('color', 'red');
     $(".spn_card:contains('\u2666')").css('color', 'red');
     $(".spn_suit:contains('\u2665')").css('color', 'red');
     $(".spn_suit:contains('\u2666')").css('color', 'red');
     $(".sel_card option:contains('\u2665')").css('color', 'red');
     $(".sel_card option:contains('\u2666')").css('color', 'red');
     $("th:empty").css('border', 'none');
     $("th:contains('(bid_pos)')").css('font-weight', 'normal');
     $(".td_dec input").attr('step', "0.01");
     $(".submit").attr({
       type: 'submit',
       name: "submit_func"
     });

     // header section
     $(".header").on('change', function() {
       var strat = $(".sel_strategy").val();
       var phase = $(".bid_play input:checked").val();
       var stratStr = "?strategy=" + (strat ? encodeURIComponent(strat) : '');
       var phaseStr = "&phase=" + encodeURIComponent(phase);
       var curpage = window.location.origin + window.location.pathname;
       window.location.href = curpage + stratStr + phaseStr;
     });

     // deal info section
     $(".pos_layout input").on('change', function() {
       $("button[value='evaluate']").click();
     });

     var $deal_info = $(".deal_info");
     $deal_info.on('change', ".inp_card", function() {
       $("button[value='evaluate']").click();
     });
     $deal_info.on('click', ".spn_card", function() {
       $(this).siblings(".sel_card").css('display', 'inline').trigger('focus');
     });
     $deal_info.on('change', ".sel_card", function() {
       var new_val = $(this).val();
       $(this).css('display', 'none');
       $(this).siblings(".spn_card").css('color', 'white');
       $(this).siblings(".inp_card").val(new_val).change();
     });
     $deal_info.on('focusout', ".sel_card", function() {
       $(this).css('display', 'none');
     });

     // buttons section
     $("button[value!='export_params']").on('click', function() {
       $("form").attr({target: '_self', onsubmit: null});
     });
     $("button[value='export_params']").on('click', function() {
       var popup_pos = "'width=880, height=610, top=220, left=300'"
       var exp_popup = "window.open(null, 'export_popup', " + popup_pos + ");"
       $("form").attr({target: 'export_popup', onsubmit: exp_popup});
     });

     // playing section
     $(".sel_trick input").on('change', function() {
       var val = $(this).val();
       var trick_selector = "#trick_" + val;
       $(".tricks div").css('display', 'none');
       $(trick_selector).css('display', 'block');
     });
   });
  </script>
</body>

</html>
